.clients {
  &__title {
    @extend %section__title;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 170px;
    height: 92px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid $social-bg;
    border-radius: 4px;

    color: $social-bg;
    @include TransitionProperty(color, border);

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
