@import "../components/portfolio-filter";

.portfolio {
  &__title {
    @extend %section__title;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    max-width: 450px;
    margin-bottom: 30px;
    @include TransitionProperty(box-shadow);
    @media screen and (min-width: 480px) {
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 768px) {
      @media screen and (max-width: 1199px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 30px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 2 * 30px) / 3);
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.portfolio {
  &__overlay {
    position: relative;
    overflow: hidden;

    &--description {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 77px 24px;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      @media screen and (min-width: 768px) {
        padding: 49px 24px;
      }
      @media screen and (min-width: 768px) {
        padding: 63px 24px;
      }
      color: $primary-white-color;
      background-color: rgba(33, 150, 243, 0.9);
      transform: translateY(101%);
      opacity: 0;
      @include TransitionProperty(transform, opacity);
      /* overflow: auto; */
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    &:hover .portfolio__overlay--description,
    &:focus .portfolio__overlay--description {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__work {
    flex-grow: 1;
    background: $primary-white-color;
    border-bottom: 1px solid $portfolio-border-color;
    border-left: 1px solid $portfolio-border-color;
    border-right: 1px solid $portfolio-border-color;
    padding: 20px 24px;
  }

  &__lable {
    color: $title-text-color;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__description {
    color: $text-color;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
}
