.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &__list {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__item {
    @media screen and (max-width: 1199px) {
      margin-bottom: 8px;
    }
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $text-footer-contact-color;

    @include TransitionProperty(color);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &--maps {
      color: $primary-white-color;

      @include TransitionProperty(color);

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}
