$current-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$logo-accent-color: #2196f3;
$logo-header-text-color: #000000;
$logo-footer-text-color: #ffffff;
$title-text-color: #212121;
$mobile-menu-color: #212121;
$mob-menu-social-line-color: rgba(33, 33, 33, 0.2);
$text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primery-black-color: #000000;
$header-border-color: #ececec;
$text-footer-contact-color: rgba(255, 255, 255, 0.6);
$btn-bg-color-hover: #188ce8;
$filters-background-color: #f5f4fa;
$filters-text-color: #212121;
$main-bg-color: #ffffff;
$second-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$work-wrapper-bg: rgba(47, 48, 58, 0.8);
$hero-bg-color: #c4c4c4;
$social-bg: #afb1b8;
$social-bg-footer: rgba(255, 255, 255, 0.1);
$timing-duration: 250ms;
$timing-fanction: cubic-bezier(0.4, 0, 0.2, 1);
$modal-bg-color: #ffffff;
$modal-backdrop-bg: rgba(0, 0, 0, 0.2);
$input-border-color: rgba(33, 33, 33, 0.2);
$checkbox-bg-color: #2196f3;
$checkbox-border-color: #212121;
$portfolio-border-color: #eeeeee;
